---
layout: default_index
---
{% for post in site.categories.[page.category] %}
<div class="post-list-item">
    <h2 class="post-list-item-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <ul class="post-list-item-meta">
        <li class="post-list-item-meta-item">
            <span class="octicon octicon-calendar">
                <span class="post-list-item-meta-item-title">{{ post.date | date: "%B %-d, %Y" }}</span>
            </span>
        </li>
        <li class="post-list-item-meta-item">
            <span class="octicon octicon-file-directory">
                <span class="post-list-item-meta-item-title">{{ post.category }}</span>
            </span>
        </li>
    </ul>
    <div class="post-list-item-body markdown-body">
        {{ post.excerpt }}
    </div>
</div>
{% endfor %}
